- content_for :head do
  %script{src: "http://js.pusher.com/2.1/pusher.min.js"}
  = javascript_include_tag "songs"


%h1 SONGS
- @songs.each do |s|
  #song_row
    #song_title
      = link_to "#{s.title}", song_path(s.id)
    #song_fxns
      #{ link_to "Edit", edit_song_path(s.id) } | 
      = link_to "Remove", s, confirm: "fosho?", method: :delete
      - collection_select(:post, 
                          :playlist_id,
                          Playlist.all,
                          :id,
                          :name)
      - link_to "Add to Playlist",
                playlists_songs_path(@playlist_song,
                                     song_id: s.id ),
                :method => :put

%h1 SONGS WITHOUT PLAYLIST
- @songs_no_playlist.each do |s|
  #song_row
    #song_title
      = s.title
