<h1>ADD A SONG</h1>
<%= form_for(@song) do |f| %>
  <%= render 'shared/error_messages', record: @song %>
  <div>
    <%= f.text_field :title, placeholder: "Song Title" %>
    <%= f.label "Playlist" %>
    <%= f.collection_select(:playlist_id, Playlist.all, :id, :name) %>
    <div class="submit-btn"><%= f.submit "Add song", class: "btn btn-default" %></div>
  </div>
<% end %>